<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/get_started.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="container">
      <div id="image">
        <img src="/images/get-started.png" />
      </div>

      <div id="welcome">Welcome to AdmitKard</div>

      <div id="info">
        In order to provide you with
        <br />
        a custom experience, <br />
        we need to ask you a few questions.
      </div>

      <div>
        <input id="get-started" type="button" value="Get Started" />
      </div>

      <div id="five-min">This will only take 5 min.</div>
    </div>
  </body>
</html>
