<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form method="POST" action="/create-otp">
      <label for="phoneNumber">Enter Contact No.</label>
      <input type="tel" name="phoneNumber" placeholder="your Number" required />
      <input type="submit" value="Send OTP" />
    </form>
  </body>
</html>
