<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/verify.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div id="container">
      <div id="verify-mobile">Please Verify Mobile Number</div>

      <div id="otp-sent-to">An OTP is sent to <%= locals.phone %></div>

      <div id="change-no">
        <a href="/">Change Phone Number</a>
      </div>

      <form method="POST" action="/verify/check-otp">
        <input id="code" type="number" name="code" required />
        <div id="resend">
          <span>Didn't receive the code?</span>
          <a href="/verify/resend-otp">Resend</a>
        </div>
        <input id="verify" type="submit" value="verify" />
      </form>
    </div>
  </body>
</html>
