body {
  background-color: lightgrey;
}

#container {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: white;
}

#verify-mobile {
  position: absolute;
  left: 50%;
  top: 35.59%;
  transform: translate(-50%);
  bottom: 61.58%;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

#change-no a {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%);
  bottom: 51.48%;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #f7b348;
}

#otp-sent-to {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 43.47%;
  bottom: 54.19%;

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #666666;
}

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 190px;
  overflow: hidden;
}

#partitioned {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%);
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  border: none;
  width: 220px;
  min-width: 220px;
}

#resend {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 75.25%;

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #999999;
}

#resend a {
  color: orange;
}

#verify {
  position: absolute;
  width: 224px;
  height: 36px;
  left: calc(50% - 224px / 2 - 0.5px);
  top: calc(50% - 36px / 2 + 270px);
  border: none;
  color: white;
  background: #f7b348;
  border-radius: 100px;
}
